__pycache__/
.venv
venv/
logs/
uv.lock
main.exp
main.lib
main.obj
.gemini/
.vscode/settings.json
references/

models/*
!models/download-models.sh

dataset/*
!dataset/.keep-it

cache/*
!cache/.keep-it
